################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ceny/bin/Debug/net5.0/ref/Ceny.dll
/Ceny/bin/Debug/net5.0
/Ceny/obj
/Ceny/Ceny.csproj.user
