@page "/"
@if (_produkty is not null)
{
    <h1>Aplikacja CI/CD</h1>
    <h3>Statystyki</h3>
    <div class="d-flex justify-content-around align-items-center">
        @*Najwiekszy wzrost ceny od początku*
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Najwiekszy wzrost</div>
                <div class="card-body">
                      <h5 class="card-title">@BiggestIncrease.Nazwa</h5>
            <p class="card-text">@Math.Round(BiggestIncrease.Change,2)%</p>
                </div>
            </div>

        *@
    </div>
    <h3 style="margin-top:18px;">Historia cen dla pojedynczego produktu</h3>

    <div class="form-group">
        <label>Wybierz produkt</label>
        <div class="input-group ">
            <select @bind="productDetailsId" class="form-control">
                <option selected disabled>Wybierz produkt z listy</option>
                @foreach (var produkt in _produkty.Distinct().OrderBy(o => o.Nazwa))
                {
                    <option value="@produkt.Id">@produkt.Nazwa</option>
                }
            </select>
            <div class="input-group-append">
                <button @onclick="()=> NavigateToProductDetails(productDetailsId)" class="btn btn-primary">Pokaż</button>
            </div>
        </div>
        <small class="text-muted form-text">Na liscie wybierz jeden zeby zobzczyc historie cen</small>

    </div>


}
@code{

}